*{
    padding: 0px;
    margin: 0px;
}

#header{
    height: 15vh;
}

#buttons{
    display: flex;
    justify-content: end;
    margin: 1%;
}

main{
    min-height: 70vh;
}

#footer{
    height: 15vh;
}